body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 350px;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
  text-align: center;
}

.login-form label {
  display: block;
  font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.login-form .submit-button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
  border-radius: 3px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-form .see-users-button {
  width: 50%;
  margin-top: 20px;
  margin-left: auto; /* Added to align button to the right */
  display: block; /* Added to make the button a block element */
  padding: 10px;
  font-weight: bold;
  border-radius: 3px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-form .see-users-button:hover {
  background-color: #45a049;
}

.register-link {
  text-align: center;
  margin-top: 10px;
}

.register-link a {
  color: #4caf50;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
