<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/createUserStyle.css">
  </head>
  <body>
    <div class="container">
      <form class="register-form" method="POST" action="/checkUser">
        <h1>Register</h1>
        <label for="username">Write your new username:</label>
        <input type="text" id="username" name="username" /><br /><br />
        <label for="password">Write your new password:</label>
        <input type="password" id="password" name="password" /><br /><br />
        <input type="submit" class="submit-button" value="Submit" />
      </form>
    </div>
  </body>
</html>
