<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="\styling\loginStyle.css" />
    <title>Login</title>
  </head>
  <body>
    <form method="POST" action="/welcome">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" /><br /><br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" /><br /><br />
      <input type="submit" value="Submit" />
      <p>Don't have an account? <a href="/createUser">Register User</a></p>
    </form>
    
  </body>
</html>
