<!DOCTYPE html>
<html>
  <head>
    <title>{{ league }}</title>
    <link rel="stylesheet" href="/static/matchesStyle.css">
  </head>
  <body>    
    <h1>Matches for season {{ league }}</h1>
    <ul class="match-list">
      {% set start_index = 0 %}
      {% for row in rows %}
        {% set index = loop.index + start_index - 1 %}
        <li class="match-item">
          <span class="match-info">
            <h4>{{ row[0] }}</h4>
            <div class="split-info">
              <h3>{{ row[1] | custom_split(0) }}</h3>
              <h4>vs</h4>
              <h3>{{ row[1] | custom_split(1) }}</h3>
            </div>
            <h5>Arbitrage multiplier:{{ row[2] }}</h5>
          </span>
          <a href="/matchStats?playedDate={{ row[0] }}&playingTeams={{ row[1] }}" class="stats-button">
            Click to see stats
          </a>
        </li>
      {% endfor %}
    </ul>
    
  </body>
</html>
