<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="\styling\singleMatchStyling.css">
</head>
<body>
  <h1>Historical Soccer Match</h1>

  <div class="match-info">
    <div class="team-container">
      <h1>Barcelona</h1>
      <h2>vs</h2>
      <h1>Real Madrid</h1>
    </div>
    <div class="score-container">
      <p class="score">3 - 2</p>
      <div class="other-stats">       
        <p><strong>Attendance:</strong> 80,000</p>
        <p><strong>Referee:</strong> John Smith</p>
        <!-- Other statistics here -->
      </div>
    </div>
  </div>

  <h2 class="section-heading">Match Statistics</h2>

  <div class="match-stats">
    <div class="column">
      <p><span class="home-team">Barcelona</span> Team Shots <span class="away-team">Real Madrid</span></p>
      <p><span class="home-team">Barcelona</span> Shots on Target <span class="away-team">Real Madrid</span></p>
      <p><span class="home-team">Barcelona</span> Hit Woodwork <span class="away-team">Real Madrid</span></p>
      <p><span class="home-team">Barcelona</span> Corners <span class="away-team">Real Madrid</span></p>
      <p><span class="home-team">Barcelona</span> Fouls Committed <span class="away-team">Real Madrid</span></p>
      <p><span class="home-team">Barcelona</span> Free Kicks Conceded <span class="away-team">Real Madrid</span></p>
      <p><span class="home-team">Barcelona</span> Offsides <span class="away-team">Real Madrid</span></p>
      <p><span class="home-team">Barcelona</span> Yellow Cards <span class="away-team">Real Madrid</span></p>
      <p><span class="home-team">Barcelona</span> Red Cards <span class="away-team">Real Madrid</span></p>
      <p><span class="home-team">Barcelona</span> Bookings Points <span class="away-team">Real Madrid</span></p>
    </div>
  </div>
</body>
</html>
